.background-div{
  width: 80%;
  margin: 10px auto 0;
}
body{
  background-color:gray;
}
.nav-link{
  background-color: dimgray;
  border-radius: 20px;
  margin: 0 3px 0;
  width: 6em;
  text-align: center;
}

.nav-link:hover{
  background-color: rgb(130, 199, 18);
}

.nav-link:active{
  background-color: rgb(245, 0, 0);
}

.collapse{
  display: flex;
  justify-content: space-between;
}
div>button{
  background-color: dimgray;
  border-radius: 20px;
  border: none;
  margin: 0 2px;
  font-weight: bold;
  margin: 0 2px;
}
div>button:hover{
  background-color: rgb(77, 75, 75);
}
#account-menu {
  position: relative;
}
#account-dropdown {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100%; /* Apare sub buton */
  right: 0; /* Aliniat la dreapta */
  background-color: #535353;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 150px;
  z-index: 10;
  text-align: right;
  font-size: 20px;
}
#account-dropdown>li:hover{
  background-color: #706f6f;
  border-radius: 10px;
}

.card-footer{
  display: flex;
  justify-content: flex-end;
  background-color: #fff;
  border-top: none;
  gap: 10px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal.hidden {
  display: none;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}
