/* *{
  border: 2px dotted red;
} */

header,
section,
footer {
  width: 80%;
  margin: 0 auto;
}

.row {
  width: 100%;
  margin: 0;
}

.background-div {
  width: 80%;
  margin: 10px auto 0;
}

body {
  /* background-color: gray; */
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  flex-direction: column;
}

.container-fluid>img {
  width: 3rem;
  height: auto;
  border-radius: 30px;
}

.nav-link {
  background: linear-gradient(#04a7e7, #5c2cc4);
  border-radius: 20px;
  margin: 0 3px 0;
  width: 6em;
  text-align: center;
  color: #fff;
}

.nav-link:hover {
  background: #04a7e7;
  font-weight: bold;
  color: #fff;
}

.nav-link:active {
  background: #5c2cc4;
  color: #fff;
}

.collapse {
  display: flex;
  justify-content: space-between;
}

div>button {
  background: linear-gradient(rgb(4, 167, 231), rgb(92, 44, 196));
  border-radius: 20px;
  border: none;
  margin: 0 2px;
  font-weight: bold;
  margin: 0 2px;
  color: #fff;
}

div>button:hover {
  /* background: linear-gradient(rgb(4, 167, 231), rgb(92, 44, 196)); */
  opacity: 0.9;
  box-shadow: 0 0 15px rgba(92, 44, 196, 0.8),
              0 0 30px rgba(92, 44, 196, 0.5);
  transform: scale(1.1);
}

.account-btn {
  width: 2rem;
  height: auto;
  border-radius: 20px;
}

#account-menu {
  position: relative;
}

#account-dropdown {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100%;
  /* Apare sub buton */
  right: 0;
  /* Aliniat la dreapta */
  background: linear-gradient(#04a7e7, #5c2cc4);
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 150px;
  z-index: 10;
  text-align: right;
  font-size: 20px;
  color: #fff;
}

#account-dropdown>li:hover {
  opacity: 0.9;
  border-radius: 10px;
  cursor: pointer;
}

.buttons-container {
  margin-bottom: 20px;

}
.buttons-container button {
  margin: 5px;
  cursor: pointer;
  align-items: center;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
}
.col-lg-4 {
  margin-bottom: 5px;
}
.card-footer {
  display: flex;
  justify-content: flex-end;
  border-top: none;
  gap: 10px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal.hidden {
  display: none;
}

.card-box.hidden {
  visibility: hidden; /* Ascunde vizual elementul */
  height: 0;          /* Închide înălțimea */
  margin: 0;          /* Elimină marginile */
  padding: 0;         /* Elimină padding-ul */
  overflow: hidden;   /* Ascunde conținutul */
  width: 0;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

.list-social-link {
  list-style: none;
  /* Elimină bullet points */
  padding: 0;
  margin: 0;
  display: flex;
  /* Setează layout-ul pe orizontală */
  justify-content: center;
  /* Alinează pe orizontală la mijloc */
  align-items: center;
  /* Alinează pe verticală la mijloc */
  gap: 10px;
  /* Adaugă spațiu între elemente */
}

.list-social-link>li {
  display: inline-block;
}

.list-social-link li img {
  width: 2rem;
  height: auto;
  border-radius: 10px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  /* Tranziție pentru un efect mai lin */

}

.list-social-link li a:hover img {
  transform: scale(1.1);
}

.icon-x:hover img {
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.8),
    0 0 30px rgba(0, 255, 255, 0.5);
  /* Culoare cyan */
}

.icon-facebook:hover img {
  box-shadow: 0 0 15px rgba(88, 141, 255, 0.8),
    0 0 30px rgba(59, 89, 152, 0.5);
  /* Culoare albastru Facebook */
}

.icon-youtube:hover img {
  box-shadow: 0 0 15px rgba(255, 0, 0, 0.8),
    0 0 30px rgba(255, 0, 0, 0.5);
  /* Culoare roșu YouTube */
}

.icon-instagram:hover img {
  box-shadow: 0 0 15px rgba(193, 53, 132, 0.8),
    0 0 30px rgba(193, 53, 132, 0.5);
  /* Culoare violet Instagram */
}
/* Promo Section */
.promo-section {
  position: relative;
  color: #fff;
  padding: 20px 0;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.promo-slide {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 100%; */
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
  background: linear-gradient(135deg, #112233, #0b0e14);
  transition: opacity 0.8s ease-in-out, visibility 0.8s;
  display: flex;
}

.promo-slide.active {
  opacity: 1;
  visibility: visible;
  position: relative;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.promo-content {
  max-width: 50%;
}

.promo-content h2 {
  font-size: 2.5rem;
  color: #ff4c4c;
  margin-bottom: 10px;
}

.promo-content .date {
  font-size: 1.2rem;
  color: #fff;
  margin: 10px 0;
}

.discount {
  margin-top: 15px;
  font-size: 1.2rem;
}

.discount strong {
  font-size: 2rem;
  color: #00ff00;
}

.promo-image {
  max-width: 300px;
  border-radius: 10px;
}

.dots {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.dots .dot {
  width: 10px;
  height: 10px;
  background: #ccc;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.dots .dot.active {
  background: #00ff00;
}

/* card styel */
@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

.card {
  background: #191c29;
  width: var(--card-width);
  height: var(--card-height);
  padding: 3px;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 1.5em;
  color: rgb(88 199 250 / 100%);
  cursor: pointer;
  font-family: cursive;
  margin-bottom: 15px;
}

.card::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 5s linear infinite;
}

.card::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    opacity: 1;
  transition: opacity .5s;
  animation: spin 5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

/* a {
  color: #212534;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 2rem;
} */